*{
    margin: 0px;
    padding:0px
}
.home{
 
}
.homeimage{
    position: absolute;
    width:100%;
    height: 100vh;
}
.homecontent{
    margin-top: 15%;
    position: absolute;
    color: white;
    display: grid;
    place-items: center;  /* Centers both horizontally and vertically */
    width: 100%;       /* Full height of the viewport */
    text-align: center;
    
}

.nav{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 100px;
    padding-bottom: 50px;
}
.package-container{
    position: static;
}